@define-color borders_breeze #4b4743;
@define-color content_view_bg_breeze #151311;
@define-color error_color_backdrop_breeze #ffb3b4;
@define-color error_color_breeze #ffb3b4;
@define-color error_color_insensitive_backdrop_breeze #907672;
@define-color error_color_insensitive_breeze #907672;
@define-color insensitive_base_color_breeze #1f1d1b;
@define-color insensitive_base_fg_color_breeze #8a837d;
@define-color insensitive_bg_color_breeze #1f1d1b;
@define-color insensitive_borders_breeze #383431;
@define-color insensitive_fg_color_breeze #837b73;
@define-color insensitive_selected_bg_color_breeze #1f1d1b;
@define-color insensitive_selected_fg_color_breeze #837b73;
@define-color insensitive_unfocused_bg_color_breeze #1f1d1b;
@define-color insensitive_unfocused_fg_color_breeze #837b73;
@define-color insensitive_unfocused_selected_bg_color_breeze #1f1d1b;
@define-color insensitive_unfocused_selected_fg_color_breeze #837b73;
@define-color link_color_breeze #ccb199;
@define-color link_visited_color_breeze #ebb2ff;
@define-color success_color_backdrop_breeze #00e479;
@define-color success_color_breeze #00e479;
@define-color success_color_insensitive_backdrop_breeze #498964;
@define-color success_color_insensitive_breeze #498964;
@define-color theme_base_color_breeze #151311;
@define-color theme_bg_color_breeze #1f1d1b;
@define-color theme_button_background_backdrop_breeze #2c2a27;
@define-color theme_button_background_backdrop_insensitive_breeze #1f1d1b;
@define-color theme_button_background_insensitive_breeze #1f1d1b;
@define-color theme_button_background_normal_breeze #2c2a27;
@define-color theme_button_decoration_focus_backdrop_breeze #ccb199;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #807468;
@define-color theme_button_decoration_focus_breeze #ccb199;
@define-color theme_button_decoration_focus_insensitive_breeze #807468;
@define-color theme_button_decoration_hover_backdrop_breeze #ccb199;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #807468;
@define-color theme_button_decoration_hover_breeze #ccb199;
@define-color theme_button_decoration_hover_insensitive_breeze #807468;
@define-color theme_button_foreground_active_backdrop_breeze #d0c5ba;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #837b73;
@define-color theme_button_foreground_active_breeze #000000;
@define-color theme_button_foreground_active_insensitive_breeze #837b73;
@define-color theme_button_foreground_backdrop_breeze #e7e1de;
@define-color theme_button_foreground_backdrop_insensitive_breeze #8a837d;
@define-color theme_button_foreground_insensitive_breeze #8a837d;
@define-color theme_button_foreground_normal_breeze #e7e1de;
@define-color theme_fg_color_breeze #d0c5ba;
@define-color theme_header_background_backdrop_breeze #1f1d1b;
@define-color theme_header_background_breeze #1f1d1b;
@define-color theme_header_background_light_breeze #1f1d1b;
@define-color theme_header_foreground_backdrop_breeze #d0c5ba;
@define-color theme_header_foreground_breeze #d0c5ba;
@define-color theme_header_foreground_insensitive_backdrop_breeze #d0c5ba;
@define-color theme_header_foreground_insensitive_breeze #d0c5ba;
@define-color theme_hovering_selected_bg_color_breeze #ccb199;
@define-color theme_selected_bg_color_breeze #958170;
@define-color theme_selected_fg_color_breeze #000000;
@define-color theme_text_color_breeze #e7e1de;
@define-color theme_titlebar_background_backdrop_breeze #1f1d1b;
@define-color theme_titlebar_background_breeze #1f1d1b;
@define-color theme_titlebar_background_light_breeze #1f1d1b;
@define-color theme_titlebar_foreground_backdrop_breeze #d0c5ba;
@define-color theme_titlebar_foreground_breeze #d0c5ba;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #d0c5ba;
@define-color theme_titlebar_foreground_insensitive_breeze #d0c5ba;
@define-color theme_unfocused_base_color_breeze #151311;
@define-color theme_unfocused_bg_color_breeze #1f1d1b;
@define-color theme_unfocused_fg_color_breeze #d0c5ba;
@define-color theme_unfocused_selected_bg_color_alt_breeze #3a332d;
@define-color theme_unfocused_selected_bg_color_breeze #3a332d;
@define-color theme_unfocused_selected_fg_color_breeze #d0c5ba;
@define-color theme_unfocused_text_color_breeze #e7e1de;
@define-color theme_unfocused_view_bg_color_breeze #1f1d1b;
@define-color theme_unfocused_view_text_color_breeze #8a837d;
@define-color theme_view_active_decoration_color_breeze #ccb199;
@define-color theme_view_hover_decoration_color_breeze #ccb199;
@define-color tooltip_background_breeze #1f1d1b;
@define-color tooltip_border_breeze #514e4c;
@define-color tooltip_text_breeze #e7e1de;
@define-color unfocused_borders_breeze #4b4743;
@define-color unfocused_insensitive_borders_breeze #383431;
@define-color warning_color_backdrop_breeze #fcb38a;
@define-color warning_color_breeze #fcb38a;
@define-color warning_color_insensitive_backdrop_breeze #907665;
@define-color warning_color_insensitive_breeze #907665;
